{% extends 'base/index.html' %} {% load static %} {% block content %}
<div class="content">
  Введите слово, словосочетание, которое нужно перевести и нажмите перевести
  (доступны английский и русские переводы, сорян если вы не из этих...)

  <div class="translate">
    Перевод:
    <span
      >{% if d.rush %} {{d.rush }} {% endif %} - {% if d.englishWord %}
      {{d.englishWord }} {% endif %}</span
    >
  </div>
  <form id="form" action="/" method="POST">
    {% csrf_token %}
    <input type="text" name="word" id="word" /><br />
    <input id="btn" type="submit" value="Перевод" />
  </form>
  <form enctype="multipart/form-data" id="sendxml" action="/send" method="post">
    {% csrf_token %}
    <label for="file">Загрузите файл xml для словаря:</label>
    <input type="file" name="file" id="file" /><br />
    <input type="submit" value="Send" />
  </form>
</div>
{% endblock %}
