* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header,
main {
    display: flex;
    justify-content: center;
    padding: 10px;
}

header {
    nav {
        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 10px;
                max-width: 170px;
                text-align: center;
            }
        }
    }
}

main {
    .content {
        max-width: 800px;


        .translate {
            font-size: 20pt;

            span {
                font-size: 25pt;
            }
        }

        form {
            input {
                margin: 5px 0;
            }
        }
    }
}